{%extends "layout.html" %}

{% block leftbody %}

  <h1>OUR TEAM</h1>
  <p><em>Katie Miles</em> is the team leader and she graduated from Oxford University this past year.
  <br>While she isn't the worlds biggest football fan, she loves working on real world projects.</p>
  <p><em>Rayan Melwani</em> is the creative talent who put forward this project. He graduated from <br>The University
  of Chicago with a degree in being a baller. </p>
  <p><em>James Rosen</em> is the power behind our machine learning element. His background is <br>
  in philosophy for Cambridge. He arguably has the best hair of the group :) </p>
  <p><em>Charlie Robertson</em> also hails from Cambridge with a degree in philosopy. <br>
  After this degree, he hopes to pursue machine learning for a PhD.</p>
  <p><em>Fraser Ralston</em> graduated from Durham University in 2020 with a degree in Economics. <br>
    He brings a strong knowledge of football to our project and is one of the main drivers <br>behind this idea.</p>

{% endblock %}
{% block rightbody %}
{% endblock %}
